<div style="text-align:center;">
  <h2>まちすけ</h2>
  <div style="font-size:x-small">
    みんなの位置をらくらく共有！<br>
    待ち合わせお助けサービス
  </div>
</div>
<br>
<div>
  <div style="background-color:#00CC33; color:#FFFFFF;">使い方</div>
  <div style="font-size:x-small">
    <div>1. お友達との待ち合わせに使う地図を作成</div>
    <div>2. 作成した地図リンクをメールで連絡</div>
    <div>3. お友達はメール上のリンクから数回クリックするだけで簡単場所共有</div>
  </div>
</div>
<br>
<div style="text-align: center;">
  <p><%= get_position_link_to("get position", :controller => :maps, :action => :create) -%></p>
</div>
